<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PinSkuMapper">

    <cache type="util.cache.MemcachedCache"/>

    <sql id="pinSkuColumns">
        ${alias}.pin_id,
        ${alias}.pin_img,
        ${alias}.share_url,
        case
        when ${alias}.start_at &gt;CURRENT_TIMESTAMP(0) then 'P'
        when ${alias}.end_at  &lt;CURRENT_TIMESTAMP(0) then 'D'
        else ${alias}.status
        end as status,
        ${alias}.create_at,
        ${alias}.update_at,
        ${alias}.pin_title,
        ${alias}.start_at,
        ${alias}.end_at,
        ${alias}.restrict_amount,
        ${alias}.floor_price,
        ${alias}.inv_id,
        ${alias}.pin_discount
    </sql>

    <select id="getPinSkuById" resultType="domain.PinSku" parameterType="java.lang.Long">
        select
        <include refid="pinSkuColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_sku t where pin_id = ${value}
    </select>

    <select id="getPinSkuStatus" resultType="domain.PinSku" parameterType="domain.PinSku">
        select
        <include refid="pinSkuColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_sku t where 1=1
        <if test="pinId!=null and pinId!=''">
            and  pin_id = ${pinId}
        </if>
        and status = 'Y'
    </select>

    <select id="selectPinActivityById" parameterType="java.lang.Long" resultType="domain.PinActivity" useCache="false">
        select
        pin_active_id    ,
        pin_id           ,
        master_user_id   ,
        person_num       ,
        pin_price        ,
        join_persons     ,
        create_at        ,
        status           ,
        end_at           ,
        pin_url,
        pin_tiered_id
        from pin_activity where pin_active_id = ${value} order by create_at DESC
    </select>


    <select id="selectPinUser" parameterType="domain.PinUser" resultType="domain.PinUser" useCache="false">
        select
        id              ,
        user_id         ,
        or_master       ,
        pin_active_id   ,
        user_ip         ,
        or_robot        ,
        user_img,
        join_at
        from pin_user
        where 1=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="pinActiveId!=null and pinActiveId!=''">
            and pin_active_id = #{pinActiveId}
        </if>
        <if test="userId!=null and userId!=''">
            and user_id = #{userId}
        </if>
        <if test="orRobot!=null and orRobot!=''">
            and or_robot = #{orRobot}
        </if>
        order by or_master DESC,join_at DESC
    </select>

</mapper>