<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ShoppingCartMapper">

    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->

    <sql id="orderColumns">
        ${alias}.order_id             ,
        ${alias}.user_id              ,
        ${alias}.pay_total            ,
        ${alias}.pay_method           ,
        to_char(${alias}.order_create_at, 'YYYY-MM-DD HH24:MI:SS') order_create_at,
        ${alias}.order_ip             ,
        ${alias}.pg_trade_no          ,
        ${alias}.order_status         ,
        ${alias}.error_str            ,
        ${alias}.discount             ,
        ${alias}.updated_at           ,
        ${alias}.order_desc           ,
        ${alias}.ship_fee             ,
        ${alias}.total_fee            ,
        ${alias}.postal_fee           ,
        to_char(${alias}.confirm_receive_at, 'YYYY-MM-DD HH24:MI:SS') confirm_receive_at,
        ${alias}.pin_active_id         ,
        ${alias}.order_type
    </sql>

    <select id="getPinUserOrder" parameterType="domain.Order" resultType="domain.Order">
        select
        <include refid="orderColumns">
            <property name="alias" value="t"/>
        </include>
        from sp_order t
        where 1=1
        <if test="userId!=null and userId !=''">
            and t.user_id = #{userId}
        </if>
        <if test="orderId!=null and orderId !=''">
            and t.order_id = #{orderId}
        </if>
        <if test="pinActiveId!=null and pinActiveId !=''">
            and t.pin_active_id = #{pinActiveId}
        </if>
        <if test="orderType!=null and orderType !=''">
            and t.order_type = #{orderType}
        </if>
        and order_status in ('PS','S')
        order by t.order_create_at DESC
    </select>

    <select id="selectOrderLine" parameterType="domain.OrderLine" resultType="domain.OrderLine">
        select line_id,
        order_id    ,
        sku_id      ,
        item_id     ,
        amount      ,
        price       ,
        sku_title   ,
        sku_img     ,
        split_id    ,
        sku_size    ,
        sku_color   ,
        sku_type    ,
        sku_type_id,
        pin_tiered_price_id
        from sp_order_line where 1=1
        <if test="lineId!=null and lineId!=''">
            and line_id=#{lineId}
        </if>
        <if test="orderId!=null and orderId!=''">
            and order_id=#{orderId}
        </if>
        <if test="skuId!=null and skuId!=''">
            and sku_id =#{skuId}
        </if>
        <if test="itemId !=null and itemId!=''">
            and item_id=#{itemId}
        </if>
        <if test="splitId !=null and splitId!=''">
            and split_id=#{splitId}
        </if>
        <if test="skuType !=null and skuType!=''">
            and sku_type=#{skuType}
        </if>
        <if test="skuTypeId !=null and skuTypeId!=''">
            and sku_type_id=#{skuTypeId}
        </if>
    </select>



</mapper>
