<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ThemeMapper">

    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <!--<cache/>-->

    <sql id="themesColumns">
        ${alias}.id                  ,
        ${alias}.master_item_id      ,
        ${alias}.title               ,
        ${alias}.start_at            ,
        ${alias}.end_at              ,
        ${alias}.theme_img           ,
        ${alias}.sort_nu             ,
        ${alias}.or_destroy          ,
        ${alias}.destroy_at          ,
        ${alias}.update_at           ,
        ${alias}.create_at           ,
        ${alias}.theme_src_img       ,
        ${alias}.theme_config_info::text   ,
        ${alias}.theme_item::text          ,
        ${alias}.master_item_tag::text,
        ${alias}.theme_master_img,
        count(*) over() theme_num
    </sql>


    <sql id="sliderColumns">
        ${alias}.id,
        ${alias}.img,
        ${alias}.sort_nu,
        ${alias}.create_at,
        ${alias}.item_target,
        ${alias}.target_type
    </sql>

    <sql id="itemColumns">
        ${alias}.id                 ,
        ${alias}.cate_id            ,
        ${alias}.brand_id           ,
        ${alias}.item_title         ,
        ${alias}.supply_merch       ,
        ${alias}.on_shelves_at      ,
        ${alias}.off_shelves_at     ,
        ${alias}.item_master_img    ,
        ${alias}.item_detail_imgs::text   ,
        ${alias}.item_features::text      ,
        ${alias}.theme_id           ,
        ${alias}.state              ,
        ${alias}.share_url          ,
        ${alias}.share_count        ,
        ${alias}.collect_count      ,
        ${alias}.browse_count       ,
        ${alias}.item_notice        ,
        ${alias}.or_destroy         ,
        ${alias}.destroy_at         ,
        ${alias}.update_at          ,
        ${alias}.create_at          ,
        ${alias}.master_inv_id      ,
        ${alias}.publicity::text
    </sql>

    <sql id="invColumns">
        ${alias}.id                  ,
        ${alias}.item_id             ,
        ${alias}.item_color          ,
        ${alias}.item_size           ,
        ${alias}.amount              ,
        ${alias}.item_src_price      ,
        ${alias}.item_price          ,
        ${alias}.item_cost_price     ,
        ${alias}.item_discount       ,
        ${alias}.sold_amount         ,
        ${alias}.rest_amount         ,
        ${alias}.inv_img             ,
        ${alias}.item_preview_imgs::text   ,
        ${alias}.or_destroy          ,
        ${alias}.destroy_at          ,
        ${alias}.update_at           ,
        ${alias}.create_at           ,
        ${alias}.or_master_inv       ,
        ${alias}.state               ,
        ${alias}.inv_area            ,
        case
        when ${alias}.inv_area='H' then '杭州保税仓备货'
        when ${alias}.inv_area='G' then '广州保税仓备货'
        when ${alias}.inv_area='S' then '上海保税仓备货'
        when ${alias}.inv_area='SZ' then '上海保税区直邮'
        when ${alias}.inv_area='GZ' then '广州保税仓直邮'
        when ${alias}.inv_area='HZ' then '杭州保税仓直邮'
        when ${alias}.inv_area='K' then '海外直邮'
        else '其它'
        end as inv_area_nm,
        ${alias}.restrict_amount     ,
        ${alias}.inv_title           ,
        ${alias}.inv_weight          ,
        ${alias}.inv_customs         ,
        COALESCE(${alias}.postal_tax_rate,(select f.rate from tax_code f where f.code = t.postal_tax_code)) as postal_tax_rate,
        (select parameter_val from sys_parameter where parameter_code='POSTAL_STANDARD') as postalStandard
    </sql>


    <!--  首页主题图分页显示  -->
    <select id="getThemes" resultType="domain.Theme" parameterType="map">
        select
        <include refid="themesColumns">
            <property name="alias" value="t"/>
        </include>
        from themes t
        ORDER BY t.create_at DESC, t.sort_nu
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!--  获取单个主题  -->
    <select id="getThemeBy" resultType="domain.Theme" parameterType="domain.Theme">
        select
        <include refid="themesColumns">
            <property name="alias" value="t"/>
        </include>
        from themes t
        where 1=1
        <if test="id!=null and id !=''">
            and t.id = #{id}
        </if>
    </select>

    <!--  首页滚动图显示 -->
    <select id="getSlider" resultType="domain.Slider">
        select
        <include refid="sliderColumns">
            <property name="alias" value="t"/>
        </include>
        from slider t
        ORDER BY t.create_at DESC, t.sort_nu
    </select>

    <!--获取商品信息-->
    <select id="getItemBy" resultType="domain.Item" parameterType="domain.Item">
        select
        <include refid="itemColumns">
            <property name="alias" value="t"/>
        </include>
        from items t
        where 1=1
        <if test="id!=null and id !=''">
            and t.id = #{id}
        </if>
        ORDER BY t.create_at DESC
    </select>

    <!--获取库存信息-->
    <select id="getInvBy" resultType="domain.Inventory" parameterType="domain.Inventory">
        select
        <include refid="invColumns">
            <property name="alias" value="t"/>
        </include>,
        (select f.rate from tax_code f where f.code = t.postal_tax_code) as postal_tax_rate
        from inventories t
        where 1=1
        <if test="itemId != null and itemId!=''">
            and t.item_id = #{itemId}
        </if>
        <if test="id != null and id!=''">
            and t.id = #{id}
        </if>
        <if test="orMasterInv != null and orMasterInv!=''">
            and t.or_master_inv = #{orMasterInv}
        </if>
    </select>
</mapper>
